table, tr, th, td
{
    border: 1px solid black;
    background-color: rgb(59, 194, 88);
}

th
{
    background-color: blueviolet;
}

td
{
    background-color: blue;
}

.calendario
{
    color: blue;
}